
<section>
  <div class="container">
    <div class="col-sm-4 offset-4" style="justify-content: center">
      <form [formGroup]="gameForm" >
        <div class="form-group">
          <label for="name">nom</label>
          <input type="text" id="name" placeholder="name"  class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="ageMin">Âge minimum (0-100)</label>
          <input type="number" id="ageMin" placeholder="ageMin" class="form-control" formControlName="ageMin">
        </div>
        <div class="form-group">
          <label for="minPlayers">Nombre de joueurs minimum</label>
          <input type="number" id="minPlayers"placeholder="minPlayers" class="form-control" formControlName="minPlayers">
        </div>
        <div class="form-group">
          <label for="maxPlayers">Nombre de joueurs maximum</label>
          <input type="number" id="maxPlayers" placeholder="maxPlayers" class="form-control" formControlName="maxPlayers">
        </div>
        <div class="form-group">
          <label for="duration">Durée moyenne d'une partie</label>
          <input type="number" id="duration" placeholder="duration"class="form-control" formControlName="duration">
        </div>
        <div class="form-group">
          <label for="rulesLink">Lien vers la vidéo de règles</label>
          <input type="text" id="rulesLink" placeholder="rulesLink"class="form-control" formControlName="rulesLink">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" class="form-control" placeholder="description"
                    formControlName="description" rows="8" cols="30"></textarea>
        </div>
        <div class="form-group">
          <label for="coverLink">Lien vers l'image du jeu</label>
          <input type="text" id="coverLink" placeholder="rulesLink"class="form-control" formControlName="coverLink">
        </div>
        <div formGroupName="gameStyleDto">

          <div class="form-group">
            <label for="id">genre</label><br>
            <select name="gameStyleDto" id="id" formControlName="id" >
              <option *ngFor="let gameStyleDto of gameStyles" value="{{gameStyleDto.id}}">{{gameStyleDto.name}}</option>
            </select>
          </div>

        </div>
        <span type="submit" class="button" style="margin:10px " (click)="onModifyGame(gameForm.value)">Enregistrer les modifications</span>
      </form>
    </div>
  </div>
</section>

