<section *ngIf="authService.isLoggedIn">

  <div>
    <p>token : {{token}}</p>
  </div>

  <div class="red-divider"></div>

  <div class="heading">
    <h2>Profil personnel</h2>
    <div class="container">
      <div class="row">
        <div class="red-divider"></div>
        <div class="container skillancien">
          <div>
            <span>Nom : {{user.name}}</span><br>
            <span>Prénom :{{user.firstname}} </span><br>
            <span>Nom d'utilisateur : {{user.username}}</span><br>
            <span>Email : {{user.email}} </span><br>
          </div>
        </div>
        <div class="red-divider"></div>

      </div>
    </div>
  </div>
</section>
