<li [ngClass]="{'list-group-item': true,
'list-group-item-success':appareilStatus==='dispo',
'list-group-item-danger': appareilStatus==='indispo'}" >

  <h4 [ngStyle]="{color:getColor()}">jeu : {{appareilName}} --- Statut : {{getStatus()}}</h4>
  <a [routerLink]="[id]">Détails</a>
  <button class="btn btn-danger" (click)="onSwitchOn()"[disabled]="appareilStatus==='dispo'">Rendre</button>
  <button class="btn btn-success" (click)="onSwitchOff()" [disabled]="appareilStatus==='indispo'">Réserver</button>
</li>
