<section style="margin: 50px">
  <div class="container">
    <mat-card class="example-card" *ngFor="let advice of advices;let i=index"
              style="margin: 20px;box-shadow:0 1px 10px rgba(0 ,0, 0,19);display: inline-flex ">
      <div>
        <mat-card-content style="padding-top: 30px">
          <mat-card-header style="margin-left: 20px">
            <mat-card-title><strong>{{ advice.user.username }}</strong><br> a mis la note de  {{advice.rating}}/5</mat-card-title>
          </mat-card-header>
          <p style="margin-left: 20px">
            {{ advice.commentary }}
          </p>
          <mat-card-actions>
            <span type="submit" class="button"
                  *ngIf="(advice.user.username==this.user.username)||userService.isAdmin()|| userService.isModo()"
                  (click)="deleteAdvice(i)">supprimer</span>
            <span type="submit" class="button" *ngIf="(advice.user.username==this.user.username)"
                  (click)="onModifyAvice(advice.id)">Modifier</span>
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</section>
<section style="margin-top: 70px">
  <div class="col-4 offset-4" style="text-align: center;margin-top: 50px">
    <h1 style="font-family: 'Bradley Hand ITC';font-weight: bold;font-size: 2em;border-bottom:2px solid black ">
      Rédiger un commentaire :</h1>
  </div>
  <div class="container">
    <div class="col-lg-4 offset-2">
      <form [formGroup]="adviceForm">
        <div class="form-group">
          <label for="commentary">commentaire:</label>
          <textarea id="commentary" class="form-control" formControlName="commentary"></textarea>
        </div>
        <div class="form-group">
          <label for="username" hidden>Nom d'utilisateur</label>
          <input type="text" id="username" class="form-control" placeholder="{{username}}" formControlName="username"
                 hidden>
        </div>
        <div class="form-group">
          <label for="rating">note (1-5)</label>
          <input type="number" min="1" max="5" id="rating" class="form-control" formControlName="rating">
        </div>
        <span type="submit" class="button" (click)="onSubmitForm(adviceForm.value)">Envoyer votre commentaire</span>
      </form>
    </div>
  </div>
</section>
