
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img [src]="cheminImage" alt="" width="70" height="50"class="d-inline-block" style="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="">Jeux-à-gogo.fr</a>
        </li>
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" routerLink="games">Nos jeux</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn && (userService.isAdmin()||userService.isModo())"  >
          <a class="nav-link dropdown-toggle"href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false" >Administration</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"*ngIf="authService.isLoggedIn && userService.isAdmin()"
                   routerLink="userAdmin">Utilisateurs</a></li>
            <li><a class="dropdown-item" routerLink="emprunt">Emprunt(s)</a></li>
            <a class="nav-link" routerLink="snake">404</a>
          </ul>
        </li>
      </ul>
      <div class="navbar ml-auto">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!authService.isLoggedIn" routerLinkActive="active">
            <a class="nav-link" routerLink="registration" >S'enregistrer</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn" routerLinkActive="active">
            <a class="nav-link"  routerLink="login" >Connexion</a>
          </li>
          <li class="nav-item"*ngIf="authService.isLoggedIn" routerLinkActive="active">
            <a class="nav-link" routerLink="profil">Mon compte</a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn" routerLinkActive="active">
            <a class="nav-link"  routerLink="login" (click)="logout()" >Déconnexion</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
