<section *ngIf="games.length>0">
  <div class="col-6 offset-3" style="text-align: center">
    <h1 style="font-family: 'Bradley Hand ITC';font-weight: bold;font-size: 2em;
    border-bottom:2px solid black ">Nos jeux jouables à {{age}} ans</h1>
  </div>
</section>
<section>

  <div class="container">
    <mat-card class="example-card" *ngFor="let game of games; let i = index"
              style="margin: 20px;box-shadow:0 1px 10px rgba(0 ,0, 0,19);display: inline-flex ">
      <div class="col-4" style="text-align: center">
        <img style="max-width: 120px;height: auto;margin: 20px auto" src="{{game.coverLink}}"/>
      </div>
      <div>
        <mat-card-content style="padding-top: 30px">
          <mat-card-header style="margin-left: 20px">
            <mat-card-title>{{ game.name }}</mat-card-title>
          </mat-card-header>
          <p style="margin-left: 20px">
            {{game.description}}
          </p>
          <mat-card-actions>
            <button type="button" class="btn btn-outline-dark" style="margin-left:30px "
                    *ngIf="game.available"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="navigateToDetails(game.id)">
              <img src="../assets/loupe.png" style="height: 40px"
                   matTooltip="details :" matTooltipPosition="above"> Plus d'infos
            </button>
            <button type="button" class="btn btn-outline-danger" style="margin-left: 30px "
                    *ngIf="!game.available"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="navigateToDetails(game.id)">
              <img src="../assets/loupe.png" style="height: 40px"
                   matTooltip="details :" matTooltipPosition="above">Plus d'infos / Indisponible
            </button>
          </mat-card-actions>
        </mat-card-content>


      </div>
    </mat-card>
  </div>
</section>
<section *ngIf="games.length===0">
  <div class="col-6 offset-3" style="text-align: center">
    <h1 style="font-family: 'Bradley Hand ITC';font-weight: bold;font-size: 2em;
    border-bottom:2px solid black ">Oups ! il n'y a aucun jeu dans cette catégorie, pour le moment !</h1>
  </div>
</section>
<section>
  <div class="container" style="text-align: center;height: 500px">
    <img src="../assets/jeux-acc80-gogo.png" alt="" class="d-inline-block">
  </div>
</section>
