<section>
  <div class="container">
    <div class="row" style="margin: 30px">
      <div class="col-lg-8 col-sm-9" style="text-align: center">
        <h1
          style="font-family: 'Bradley Hand ITC';margin-top:50px;font-weight: bold;font-size: 2em;border-bottom:2px solid black "> {{game.name}}</h1>
        <div style="margin: 50px">
          {{game.description}}
        </div>

      </div>
      <div class="col-lg-3 col-sm-3">
        <img style="max-width: 150px;height: auto;margin: 30px" src="{{game.coverLink}}"/><br>
        <span> âge minimum : {{game.ageMin}} ans</span><br>
        <span>De {{game.minPlayers}} à {{game.maxPlayers}} joueurs</span><br>
        <span> Durée de la partie : moins de {{game.duration}} minutes</span><br>
        <span *ngIf="game.gameStyleDto!=null"> genre de jeu : {{game.gameStyleDto.name}}</span>
        <div *ngIf="authService.isLoggedIn && userService.isMember()">
      <span type="submit" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
            style="margin: 20px;padding: 10px" *ngIf="authService.isLoggedIn  && game.available ">
      Emprunter
      </span>
          <button type="submit" class="btn btn-outline-danger" style="margin:10px " data-bs-toggle="modal"
                  data-bs-target="#waitListModal"
                  *ngIf="authService.isLoggedIn  && !game.available && !userOnWaitList ">
            Je me joint à la liste d'attente!
          </button>
          <button type="submit" class="btn btn-outline-danger" style="margin:10px " (click)="navigateToProfile()"
                  *ngIf="userOnWaitList">
            Je suis déjà sur la liste d'attente!
          </button>
        </div>
      </div>
      <div class="col-lg-8 col-sm-9" style="text-align: center">
        <youtube-player #player [videoId]="game.rulesLink"></youtube-player>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Confirmez la demande d'emprunt pour : {{game.name}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <span type="submit" class="button" data-bs-dismiss="modal" (click)="onBorrowingGame(game.id)">
          Confirmer
        </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="waitListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="waitListModalLabel">Demander à être rappelé</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Confirmez la mise sur liste d'attente pour : {{game.name}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <span type="submit" class="button" data-bs-dismiss="modal" (click)="onAddWaitList(game.id)">
          Confirmer
        </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4" *ngIf="authService.isLoggedIn  && (userService.isAdmin()|| userService.isModo())">

      </div>
    </div>
  </div>
</section>
<section *ngIf="authService.isLoggedIn &&(userService.isAdmin()|| userService.isModo())"
         style="border-bottom: 1px solid black">
  <div class="container">
    <div class="row" style="margin: 30px">
      <div class="col-4 offset-2" style="text-align: center">
    <span type="submit" class="button" (click)="onModifyGame(game.id)">
          Modifier le jeu</span>
      </div>
      <div class="col-4">
        <form [formGroup]="copyForm" (ngSubmit)="onSubmitForm(copyForm.value)">
          <div class="form-group">
            <label for="code">code de la boite</label>
            <input type="text" id="code" class="form-control" formControlName="code">
          </div>
          <div class="form-group">
            <label for="game" hidden>jeu</label>
            <input id="game" class="form-control" formControlName="game" value="{{game}}" hidden>
          </div>
          <span type="submit" class="button" (click)="onSubmitForm(copyForm.value)">Ajouter un exemplaire</span>
        </form>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 50px">
  <div class="col-4 offset-4" style="text-align: center;margin-top: 50px">
    <h1 style="font-family: 'Bradley Hand ITC';font-weight: bold;font-size: 2em;border-bottom:2px solid black ">
      Avis des joueurs:</h1>
  </div>
  <app-advices [id]="gameId" *ngIf="authService.isLoggedIn && userService.isMember()"></app-advices>
  <div class="container" style="text-align: center">
  <span type="submit" class="button" style="margin: 20px;padding: 10px"
        (click)="navigateToGames()">retour</span>
  </div>
</section>


