
<section style="text-align: center;padding: 50px">
  <div class="container" style="justify-content: space-around">
    <form class="example-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitFormLogin(resetPasswordForm.value)"
          (keyup.enter)="onSubmitFormLogin(resetPasswordForm.value)">
      <mat-form-field>
        <mat-label for="username">Nom d'utilisateur</mat-label>
        <input type="text" id="username" matInput class="form-control" formControlName="username"
               [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="form-group" hidden>
        <mat-label for="password">Mot de passe</mat-label>
        <input type="password" matInput id="password" class="form-control" formControlName="password">
      </mat-form-field>
      <br>

      <span type="submit" class="button"  (click)="onSubmitFormLogin(resetPasswordForm.value)">Réinitialiser le mot de passe</span>
    </form>
  </div>
</section>
