<section>
  <div class="container" style="text-align: center;text-transform: uppercase;margin:60px">
    <div>
      <h1>Jeux à gogo</h1>
      <H3>Ludothèque itinérante</H3>
    </div>
  </div>
</section>
<section id="home2">
  <div class="row" style="display: flex;margin: 50px">
    <div class="d-inline col-sm-3 offset-3">
      Bienvenue sur le site internet de Jeux à Gogo , une association ouverte depuis février 2020.
      Notre but et de promouvoir le jeux de société , principalement les jeux de plateaux et de cartes autour
      d’évènements divers.
    </div>
    <div class="d-inline col-sm-3">
      Nous proposons aussi de la location de jeux de société, des ateliers parents-enfants, des sessions pour adultes,
      des soirées quiz, des animations à domicile, etc. N’hésitez pas à nous contacter pour plus d’informations.
      Nous sommes basés à Oudrenne en moselle.
    </div>
  </div>
</section>
<section style="text-align: center">
  <div class="h3" style="margin: 30px">Jeux les plus demandés :</div>
  <div class="row" style="justify-content: space-around">
    <div class="col offset-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/gameImg/puissance-4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/gameImg/7wonders.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/gameImg/splendor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" style="text-align: center">
    <img src="../assets/jeux-acc80-gogo.png" alt="" class="d-inline-block">
  </div>
</section>
