<section style="height: 50px">

</section>
<section id="home2">

  <div class="row" style="margin-top: 50px;float: none">
    <div class="d-inline col-sm-3 offset-2" style="font-size: 1.5em">
      Bienvenue sur le site de Jeux à Gogo , une association ouverte depuis février 2020.
      Notre but et de promouvoir le jeux de société , principalement les jeux de plateaux et de cartes, autour
      d’évènements divers.
    </div>
    <div class="d-inline col-sm-3 offset-2" style="text-align: right;font-size: 1.5em">
      Nous proposons aussi de la location de jeux de société, des ateliers parents-enfants, des sessions pour adultes,
      des soirées quiz, des animations à domicile, etc. N’hésitez pas à nous contacter pour plus d’informations.
      Nous sommes basés à Oudrenne en Moselle.
    </div>
  </div>

  <div class="container" style="text-align: center;height: 500px">
    <img src="https://www.rueducommerce.fr/medias/6780e06dc8e7305cb43119c4dc2d979b/p_640x640/image.jpg" alt="" >
  </div>

</section>
<section>
  <div class="container">
    <div style="text-align: center;display: block;padding: 50px;">
      <div class="h3" style="margin: 30px;padding: 5px;text-transform: uppercase;font-family: 'Bradley Hand ITC';font-weight: bold;
      border-bottom:2px solid black">les mieux notés:
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div style="text-align: center;display: block;padding: 10px;">
      <div class="row">
        <div class="col" style="padding: 10px">
          <div>
            <img style="max-height: 200px;width: auto" src="{{game1.coverLink}}">
            <div>
              <h2 style="margin: 20px">{{game1.name}} :</h2>
              <span>{{game1.rating}} / 5</span><br>
              <span type="button" class="button" (click)="navigateToDetails(game1.id)">Détails</span>

            </div>
          </div>
        </div>
        <div class="col" style="padding: 10px">
          <div>
            <img style="max-height: 200px;width: auto" src="{{game2.coverLink}}">
            <div>
              <h2 style="margin: 20px">{{game2.name}} :</h2>
              <span>{{game2.rating}} / 5</span><br>
              <span class="button" type="button" (click)="navigateToDetails(game2.id)">Détails</span>

            </div>
          </div>
        </div>
        <div class="col" style="padding: 10px">
          <div>
            <img style="max-height: 200px;width: auto" src="{{game3.coverLink}}">
            <div>
              <h2 style="margin: 20px">{{game3.name}} :</h2>
              <span>{{game3.rating}} / 5</span><br>
              <span type="button" class="button" (click)="navigateToDetails(game3.id)">Détails</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="text-align: center;display: block;padding: 50px;">
      <div class="h3" style="margin: 30px;padding: 5px;text-transform: uppercase;font-family: 'Bradley Hand ITC';font-weight:900;
     border-bottom:2px solid black ">les plus populaires:
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div style="text-align: center;display: block;padding: 50px;">
      <div class="row" style="justify-content: space-between">
        <div class="col" style="padding: 30px">
          <div>
            <img style="max-height: 200px;width: auto" src="{{gamepop1.coverLink}}">
            <div>
              <h2 style="margin: 20px">{{gamepop1.name}} :</h2>
              <span>{{gamepop1.borrowingQuantity}} emprunts</span><br>
              <span type="button" class="button" (click)="navigateToDetails(gamepop1.id)">Détails</span>

            </div>
          </div>
        </div>
        <div class="col" style="padding: 30px">
          <div>
            <img style="max-height: 200px;width: auto" src="{{gamepop2.coverLink}}">
            <div>
              <h2 style="margin: 20px">{{gamepop2.name}} :</h2>
              <span>{{gamepop2.borrowingQuantity}} emprunts</span><br>
              <span class="button" type="button" (click)="navigateToDetails(gamepop2.id)">Détails</span>

            </div>
          </div>
        </div>
        <div class="col" style="padding: 30px">
          <div>
            <img style="max-height: 200px;width: auto" src="{{gamepop3.coverLink}}">
            <div>
              <h2 style="margin: 20px">{{gamepop3.name}} :</h2>
              <span>{{gamepop3.borrowingQuantity}} emprunts</span><br>
              <span type="button" class="button" (click)="navigateToDetails(gamepop3.id)">Détails</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="text-align: center;height: 500px">
    <img src="../assets/jeux-acc80-gogo.png" alt="" class="d-inline-block">
  </div>
</section>
